@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz@1,6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

h2, h3, h4 {
    font-family: "Roboto", sans-serif;
}

hr {
    color:rgb(204, 204, 204)
}

h1 {
    font-family: "Roboto", sans-serif;
    text-align: center;
}

h3 {
    color: rgb(121, 110, 159);
}

p {
    font-family: 'Nunito', sans-serif;
}

a {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}


.footer {
    text-align: center;
}



.profile-image {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    max-width: 300px;
    min-width: 100px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .4); 
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    transition: transform .7s ease-in-out, opacity .7s ease-in-out;
}

.profile-image:hover {
    transform: rotate(5deg);
    opacity: 90%;
    
}

.parallax-section {
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-attachment: fixed;
    background-image: url(media/kilburn_building.jpg);
    background-position: center;
    background-size: cover;
    color: var(--color);
    row-gap: 4rem;
    opacity: 100%;
}

.page-title {
    color: rgb(109, 83, 134);
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.title-div {
    /* background-color:#efe7f1; */
    background: rgb(239,231,241);
    background: linear-gradient(0deg, rgb(223, 223, 223) 0%, rgb(255, 255, 255) 100%);
    display:block;
    width:100%;
    background-size: cover;
}

.subtitle {
    text-align: center;
    padding-bottom: 20px;
    color: aliceblue;
    background-color:  rgba(255, 255, 255, .15);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    text-shadow: 1px 1px 1px #222222;
    font-family: 'Nunito Sans', sans-serif;
}

.section-header {
    color: rgb(123, 81, 164);
    text-align: left;
    margin-left: 20%;
}

.skill-highlight > ul {
    list-style-type: none;
    display: inline-block;
    text-align: left;
    width: 80%;
    text-align: center;
}

.skill-highlight > li {
    width: max-content;
    padding: 5px;
    color: #864a5b;
    list-style-type: none;
    border: rgba(0, 0, 0, .1);
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-spacing: 10px;
    background-color: rgba(101, 36, 166, 0.1);
    margin: 5px;
    line-height: 150%;
    display: inline-block;
    word-wrap:break-word;
    white-space: pre-wrap;
    word-break: break-word;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

.skill-highlight {
    text-align: center;
    align-items: center;
}

.project-div {
    margin-left: 20%;
    margin-right: 20%;
}

.indented-text {
    margin-left: 5%;
}

/* Header Stylisation */
.header > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    /*  Frosted Glass Effect */
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 25px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}
  
.header > li {
    float: left;
    font-family: 'Poppins', sans-serif;
}
  
.header > li a {
    display: block;
    color: #444;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header > li a:hover {
    font-weight: bold;
}



/*  Links  */

.skills {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
  
.skills > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}


.skills > li {
    padding-right: 10px;
}

.social-icon {
    width: 26px;
    padding-right: 10px;
    padding-left: 10px;
}
